html{
	background-color: maroon;
}

p {
	color: gold;
}

a:hover {
	color: hotpink;
}

.box{    
    	background-color: Maroon;
   	width: 300px;
   	padding: 20px;
   	position: relative;
}

.text_top{
	position: relative;
	padding: 10px;
	top: 60px;    
    	font-size: 40px;
    	color:Black;
    	font-family: Impact;
    	text-shadow:  2px #000000;
}
